*{
    margin: 0;
    padding: 0;
}

.scoreCard{
    margin-top: 10px;
    float: right;
}

.scoreCard p{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 500;
}

.container{
    margin-top: 100px;
    height: 400px;
    width: 75%;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
}

#dragon{
    width: 7rem;
    height: 7rem;
    position: absolute;
    bottom: 20px;
    left: 0px;
}

#dragon img{
    width: 7rem;
    height: 7rem;
}

.dragonMove{
    animation: animateDragon 0.5s linear infinite ;
}

@keyframes animateDragon{
    0%, 100%
    {
        bottom: 28px;
    }
    45%, 55%
    {
        bottom: 160px;
    }
}

#tree{
    height: 5.5rem;
    width: 5.5rem;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

#tree img{
    height: 5.5rem;
    width: 5.5rem;
}

.treeMove{
    animation: animateTree 1.2s linear infinite ;
}

@keyframes animateTree{
    0%
    {
        right: -80px;
    }
    100%
    {
        right: 100%;
    }
}

#road{
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#road img{
    height: 2rem;
    width: 100%;
    position: absolute;
    right: 0px;
    
}

#cloud{
    height: 5rem;
    width: 80%;
    border-radius: 40px;
    position: absolute;
    top: 35px;
}

#cloud img{
    height: 5rem;
    width: 80%;
    position: absolute;
    left: -1000px;
    animation: none;
}

@keyframes animateCloud{
    0%{
        left: -1000px;
    }
    100%{
        left: 100%;
    }
}


#gameOver{
    display: none;
    font-weight: 600;
    position: absolute;
    border-radius: 5px;
    background-color: black;
    color: white;
    top: 250px;
    left: 45%;
    margin: auto;
    padding: 5px 15px;
}

#btn{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-right: 20px;
}

#jump{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
}



@media only screen and (max-width:820px){

    .container{
        width: 95%;
    }

    #dragon{
        width: 4rem;
        height: 4rem;
    }
    
    #dragon img{
        width: 4rem;
        height: 4rem;
    }

    #tree{
        height: 4rem;
        width: 4rem;
    }
    
    #tree img{
        height: 4rem;
        width: 4rem;
    }

    .treeMove{
        animation: animateTree 1s linear infinite ;
    }

    #gameOver{
        left : 40%;
    }
    
} 
